<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.wakeupplugin"
    version="0.1.0">
    <name>WakeupTimer</name>
    <description>Wakeup Plugin</description>
    <license>Apache 2.0</license>
    <keywords>sleep,wakeup,timer</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-wakeuptimer.git</repo>

    <js-module src="www/wakeup.js" name="Wakeup">
      <clobbers target="wakeuptimer"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WakeupPlugin" >
                <param name="android-package" value="org.nypr.cordova.wakeupplugin.WakeupPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="org.nypr.cordova.wakeupplugin.WakeupReceiver" />
            <receiver android:name="org.nypr.cordova.wakeupplugin.WakeupBootReceiver">  
              <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
              </intent-filter>
            </receiver>
        </config-file>
        
        <source-file src="src/android/WakeupPlugin.java" target-dir="src/org/nypr/cordova/wakeupplugin/" />
        <source-file src="src/android/WakeupReceiver.java" target-dir="src/org/nypr/cordova/wakeupplugin/" />
        <source-file src="src/android/WakeupBootReceiver.java" target-dir="src/org/nypr/cordova/wakeupplugin/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WakeupPlugin">
                <param name="ios-package" value="WakeupPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/WakeupPlugin.h" />
        <source-file src="src/ios/WakeupPlugin.m" />
    </platform>

</plugin>
